.footer {
  width: 100%;
  // height: 200px;
  background-color: #f6f6f6;
  padding: 40px 0;
  .footerInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  .box {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 40px;
      .logoName{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 22px;
        cursor: pointer;
      }
      svg{
        font-size: 30px;
      }
    }
    ul {
      list-style: none;
      gap: 20px;
      display: flex;
      // flex-direction: column;
    }
  }
  .contactNumber{
    display: flex;
    align-items: center;
    gap: 6px;
    div{
      font-weight: 600;
    }
    .addressNAme{
      font-size: 14px;
      color: gray;
    }
  }
  }

  .address{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .addressText{
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 5px;
      .title{
        font-size: 18px;
        font-weight: 500;
      }
      
    }
    .map{
      width: 350px;
    }
  
  }

}
