.about {
  min-height: 60vh;
  width: 80%;
  margin: 0 auto ;
  
  .title{
    font-size: 28px;
    font-weight: 600;
    padding-top: 60px;
  }
  .aboutBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    .text{
      width: 48%;
    }
    .image{
      width: 48%;
      text-align: center;
    }
  }
}


@media(max-width: 800px){
  .about{
    .title{
      text-align: center;
    }
    .aboutBlock{
      flex-direction: column;
      text-align: center;
      gap: 20px;
      .text{
        width: 100%;
      }
      .image{
        width: 100%;
        text-align: center;
      }
    }
  }
}