


.title{
    font-size: 32px;
    font-family: 'Roboto-Bold';
   
    width: 89%;
    margin: 30px auto 40px;
}


.benefits{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;
    .benefitCard{
        background: #FFD583;
        max-width: 250px;
        padding: 20px;
        text-align: center;
        height: 200px;
        .cardHeader{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            gap: 5px;
            .cardTitle{
                text-transform: uppercase;
                font-family: 'Roboto-Bold';
                font-size: 18px;
                
            }
        }
    }
}


@media(max-width: 1080px){
    .title{
        text-align: center;
    }
}